@use "../../globals" as *;

@keyframes hand_marginAnimation_1 {
  from {margin: $card_margin / 2;}
  to {margin: 0;}
}

@mixin all() {
  
  hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: $card_width * 5 + $card_margin * 6;
    
    //position: fixed;
    //bottom: 10px;
    //left: 0;
    //z-index: 50;
    //
    //background-color: rgba(255, 255, 255, 0.6);
    //border-radius: 8px 8px 8px 8px;
    //box-shadow: 0 0 2px black;
    
    .bga-animations_placeholder-shrink {
      animation-name: hand_marginAnimation_1;
      animation-duration: 0.8s;
    }

    .bga-animations_placeholder-grow {
      animation-name: hand_marginAnimation_1;
      animation-direction: reverse;
      animation-duration: 0.8s;
    }
    
  }
}