@use "../../globals" as *;

@mixin all() {
  
  campsite {
    height: $campsite_height;
    width: $campsite_width;
    background-image: url("img/campsite.jpg");

    @include absolute();
    @include sprite(4, 2, $campsite_height, $campsite_width);
    
    z-index: 6;
    border-radius: 50% 50% 50% 50%;
    border: white 1px solid;
    box-shadow: 0 0 2px black;
    
    transition: box-shadow 0.2s, scale 0.2s;
    
    &[active="true"] {
      cursor: pointer;
      box-shadow: 1px 1px 2px rgba(255, 57, 165, 1), -1px 1px 2px rgba(255, 57, 165, 1), 1px -1px 2px rgba(255, 57, 165, 1), -1px -1px 2px rgba(255, 57, 165, 1);
      scale: 1.2;
      
      &:hover {
        box-shadow: 2px 2px 2px rgba(153, 0, 81, 1), -2px 2px 2px rgba(153, 0, 81, 1), 2px -2px 2px rgba(153, 0, 81, 1), -2px -2px 2px rgba(153, 0, 81, 1);
      }
    }

    &[region="1"][location="1"] {top: 190.7px; left: 417.9px;}
    &[region="1"][location="2"] {top: 220.7px; left: 400.5px;}
    &[region="1"][location="3"] {top: 222.9px; left: 471.6px;}
    
    &[region="2"][location="1"] {top: 51.3px; left: 383.3px;}
    &[region="2"][location="2"] {top: 62.7px; left: 464.7px;}
    &[region="2"][location="3"] {top: 100px; left: 379.4px;}
    &[region="2"][location="4"] {top: 128.7px; left: 489.2px;}
    &[region="2"][location="5"] {top: 153px; left: 416.2px;}

    &[region="3"][location="1"] {top: 163px; left: 554.5px;}
    &[region="3"][location="2"] {top: 193.5px; left: 693px;}
    &[region="3"][location="3"] {top: 221.4px; left: 523.2px;}
    &[region="3"][location="4"] {top: 237px; left: 673.2px;}

    &[region="4"][location="1"] {top: 296.3px; left: 498px;}
    &[region="4"][location="2"] {top: 296.3px; left: 633px;}
    &[region="4"][location="3"] {top: 367.5px; left: 526px;}
    &[region="4"][location="4"] {top: 367.5px; left: 613px;}

    &[region="5"][location="1"] {top: 413px; left: 480.5px;}
    &[region="5"][location="2"] {top: 424px; left: 646px;}
    &[region="5"][location="3"] {top: 494px; left: 480.5px;}
    &[region="5"][location="4"] {top: 520.3px; left: 558.9px;}
    &[region="5"][location="5"] {top: 502px; left: 619.7px;}

    &[region="6"][location="1"] {top: 531.6px; left: 658.1px;}
    &[region="6"][location="2"] {top: 557.5px; left: 692.5px;}
    &[region="6"][location="3"] {top: 624px; left: 596px;}
    &[region="6"][location="4"] {top: 598px; left: 696.5px;}

    &[region="7"][location="1"] {top: 652.4px; left: 714.1px;}
    &[region="7"][location="2"] {top: 628px; left: 770.9px;}
    &[region="7"][location="3"] {top: 713px; left: 739px;}
    &[region="7"][location="4"] {top: 745.5px; left: 732px;}

    &[region="8"][location="1"] {top: 565.1px; left: 406.1px;}
    &[region="8"][location="2"] {top: 561px; left: 506.5px;}
    &[region="8"][location="3"] {top: 628px; left: 510px;}
    &[region="8"][location="4"] {top: 699px; left: 344.6px;}
    &[region="8"][location="5"] {top: 661.2px; left: 388px;}
    &[region="8"][location="6"] {top: 680px; left: 453px;}

    &[region="9"][location="1"] {top: 440.3px; left: 408px;}
    &[region="9"][location="2"] {top: 526.7px; left: 284px;}
    &[region="9"][location="3"] {top: 561px; left: 338.1px;}
    &[region="9"][location="4"] {top: 604px; left: 251px;}
    &[region="9"][location="5"] {top: 658.8px; left: 238.1px;}

    &[region="10"][location="1"] {top: 254px; left: 371px;}
    &[region="10"][location="2"] {top: 351px; left: 366px;}
    &[region="10"][location="3"] {top: 367px; left: 427px;}

    &[region="11"][location="1"] {top: 270px; left: 265px;}
    &[region="11"][location="2"] {top: 286px; left: 312px;}
    &[region="11"][location="3"] {top: 329.5px; left: 202.7px;}
    &[region="11"][location="4"] {top: 367px; left: 230.7px;}
    &[region="11"][location="5"] {top: 406.5px; left: 225px;}

    &[region="12"][location="1"] {top: 262px; left: 46px;}
    &[region="12"][location="2"] {top: 246.8px; left: 185.3px;}
    &[region="12"][location="3"] {top: 318px; left: 138px;}
    &[region="12"][location="4"] {top: 283px; left: 208px;}

    &[region="13"][location="1"] {top: 176px; left: 248px;}
    &[region="13"][location="2"] {top: 150px; left: 306px;}
    &[region="13"][location="3"] {top: 215px; left: 241px;}
    &[region="13"][location="4"] {top: 166px; left: 351px;}
  }
}