@use "../../../globals" as *;

$size: 1px;

@mixin all() {
  souvenir_space {
    @include absolute();
    height: $postcard_token_width - ($size);
    width: $postcard_token_height - ($size);

    border-radius: 3px;
    
    border-color: rgba(255, 20, 147, 0);
    border-style: solid;
    border-width: $size;

    background-color: rgba(255, 57, 165, 0);
    
    transition: border-color 0.5s, background 0.5s;
    
    &[active="true"] {
      border-color: #FF39A5;
      background-color: rgba(255, 57, 165, 0.2);
    }
    &[active="true"]:hover {
      cursor: pointer;
      border-color: #990051;
      background-color: rgba(255, 57, 165, 0);
    }

    &[space="1"] {top: 5px; left: 5px;}
    &[space="2"] {top: 42px; left: 5px;}
    &[space="3"] {top: 79px; left: 5px;}
  }
}