@use "../../globals" as *;

@mixin all() {
  
  itinerary {
    position: relative;
    display: block;
    height: $card_width;
    width: $card_height;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    transition: top 1s, left 1s, transform 0.2s;
    z-index: 3;
    
    margin-right: $card_margin;

    &:hover {
      transform: scale(2) rotate(0deg) !important;
    }
    
    background-image: url("img/itinerary.jpg");
    @include sprite(4, 4, $card_width, $card_height);
  }
}