@mixin all() {

  #page-title {
    background-color: rgb(255, 246, 246) !important;

    .bar {
      margin-top: 4px;
      padding-top: 4px;
      padding-bottom: 2px;

      &[type="last_round"] {background-color: rgba(255, 145, 0, 0.5);}
      &[type="warning"] {background-color: rgba(228, 84, 84, 0.5);}
      &[type="love"] {background-color: rgba(209, 96, 255, 0.5);}
    }
    
    .bgabutton {
      margin-left: 20px;
    }
  }
  
}
