@use "../globals" as *;

@mixin all() {

  #bga-help_buttons {
    position: fixed;
    bottom: 12px;
    left: 5px;
    display: flex;
    gap: 10px;
    z-index: 949;
    align-items: flex-end; // so help doesn't move up when the other expands
  }
  
  .bga-help_button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 3px 5px 5px 0px rgb(0 0 0);
  }
  
  .bga-help_popin-button {
    --background: black;
  --color: white;
  
  font-weight: bold;
  font-size: 28pt;
  background: var(--background);
  color: var(--color);
}

.bga-help_expandable-button {
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.2s, height 0.2s, border-radius 0.2s;
  display: grid;
  
  width: 50px;
  height: 50px;
  border-radius: 25px;
  
  .bga-help_folded-content {
    grid-row: 1;
    grid-column: 1;
    opacity: 1;
    width: 50px;
    height: 50px;
  }
  
  .bga-help_unfolded-content {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    font-family: main !important;
  }
  
  &[data-folded="false"] {
    width: var(--expanded-width);
    height: var(--expanded-height);
    border-radius: var(--expanded-radius);
    
    .bga-help_folded-content {
      opacity: 0;
    }
    .bga-help_unfolded-content {
      opacity: 1;
    }
  }
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #bga-help_buttons {
    //display: none;
    bottom: 5px;
  }
}

#popin_bgaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_bgaHelpDialog {
  --background-color: white;
  background: var(--background-color);
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
  //top: 80px !important;
}

#help-dialog-content {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}

.camp-help-folded-content {
  display: block;
    height: 50px;
    width: 50px;
    background-image: url("img/campsite.jpg");
    background-size: 200px 100px;
    background-position-x: -100px;
}


.camp-help-unfolded-content {
  h3 {margin-bottom: 0px !important;}

  table {margin: auto;}

  tr {
    height: 30px;
    margin: 5px 0px 5px 0px;
  }
  
  td {
    font-size: 18px;
    &[own="true"] {
      font-weight: bold;
    }
  }

  campsite_icon {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px 15px 15px 15px;
    border: white 1px solid;
    box-shadow: 0 0 2px black;
    background-image: url("img/campsite.jpg");
    background-size: 120px 60px;
    background-position-x: -0px;
    margin: 5px 0px 5px 0px;

    @include sprite(4, 2, 30px, 30px);
  }

  $camp_height: 24px;
  $camp_width: $camp_height * (609 / 544);

  camp_icon {
    display: block;
    height: $camp_height;
    width: $camp_width;
    background-image: url("img/camp.png");
    margin: 0px 5px 0px 5px;
    filter: drop-shadow(0 0 1px black);
    @include player_color_sprite($camp_height, $camp_width);
  }

}

}