@use "../../globals" as *;

@mixin all() {
  
  postcard {
    display: flex;
    position: relative;
    
    @include postcard();
    
    transition: margin 1s, transform 1s;
    
    @include sprite(6, 9, $postcard_height, $postcard_width);
    
    transform-style: preserve-3d;
    transform: rotateX(0deg);

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: $postcard_height;
      width: $postcard_width;
      background-size: inherit;
      background-position: inherit;
      background-image: url("img/postcard_front.jpg");
      transform: rotateX(-180deg);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: $postcard_height;
      width: $postcard_width;
      background-position: inherit;
      background-size: inherit;
      background-image: url("img/postcard_back.jpg");
      backface-visibility: hidden;
    }
    
    &[face="true"] {
      margin: ($card-margin / 2) ($card-margin / 2) ($card-margin / 2) ($card-margin / 2) !important;
      transform: rotate(0deg) rotateX(0deg);

      &:before {z-index: -2};
      &:after {z-index: -1};
    };
    
    &[face="false"] {
      margin:
        (((-($postcard_height - $postcard_width))) / 2)
        (($postcard_height - $postcard_width) / 2)
        (((-($postcard_height - $postcard_width))) / 2)
        (($postcard_height - $postcard_width) / 2);
      transform: rotate(90deg) rotateX(180deg);

      &:before {z-index: -1};
      &:after {z-index: -2};
    };
  }
  
  .bga-animations_animation-surface {
    postcard {
      margin: 0 !important;
    }
  }
  
  postcard_supply,
  postcard_guide {
    postcard {transition: margin 1s, left 0.8s, box-shadow 0.2s;}
    
    postcard[supply="1"] {
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 2;
    }
  
    postcard[supply="2"] {
      position: absolute;
      top: 0px;
      left: $postcard_height + $card-margin;
      z-index: 3;
    }
  
    postcard[supply="3"] {
      position: absolute;
      top: 0px;
      left: $postcard_height * 2 + $card-margin * 2;
      z-index: 4;
    }
  
    postcard[supply="4"] {
      position: absolute;
      top: 0px;
      left: $postcard_height * 3 + $card-margin * 3;
      z-index: 5;
    }

    postcard[supply="5"] {
      position: absolute;
      top: 0px;
      left: $postcard_height * 4 + $card-margin * 4;
      z-index: 6;
    }
  }
  
  postcard_player {
    postcard {transition: margin 1s, left 1s, box-shadow 0.2s;}
  }
  
  postcard[active="true"] {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(255, 57, 165, 1), -1px 1px 2px rgba(255, 57, 165, 1), 1px -1px 2px rgba(255, 57, 165, 1), -1px -1px 2px rgba(255, 57, 165, 1);
    
    &:hover {
      box-shadow: 2px 2px 2px rgba(153, 0, 81, 1), -2px 2px 2px rgba(153, 0, 81, 1), 2px -2px 2px rgba(153, 0, 81, 1), -2px -2px 2px rgba(153, 0, 81, 1);
    }
  }
  
  postcard[active="selected"] {
    cursor: pointer;
    box-shadow: 3px 3px 2px rgb(0, 150, 230), -3px 3px 2px rgb(0, 150, 230), 3px -3px 2px rgb(0, 150, 230), -3px -3px 2px rgb(0, 150, 230);
  }
}